/* Transition to highlight a cell change */
@keyframes executeHighlight {
  from {
    background-color: #9fccff;
  }
  to {
    background-color: var(--jp-cell-editor-background);
  }
}

.execute-time {
  background-color: var(--jp-cell-editor-background);
  color: var(--jp-mirror-editor-variable-color);
  display: block;
  margin-top: 2px;
  font-family: monospace;
  font-size: 80%;
  border-top: 1px solid #cfcfcf;
  padding: 0 2px;
}

.execute-time-positioning-left {
  text-align: left;
}

.execute-time-positioning-right {
  text-align: right;
}

.execute-time-hidden {
  display: none;
}
